body {
  font-family: 'Rubik', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.nav-img {
  height: 30px;
}

.nav-link {
  display: flex !important;
  align-items: center;
  color: white !important;
}

.nav-link:hover {
  color: rgb(209, 209, 209) !important;
}

.p-button.p-button-outlined {
  color: white !important;
}

.p-button.p-button-outlined:hover {
  color: rgb(209, 209, 209) !important;
}

.bg-purple {
  background-color: #6C3483;
}

.bg-blue {
  background-color: #2C2C54;
}

.bg-red {
  background-color: #943126;
}

.bg-red2 {
  background-color: #7B241C;
}

.bg-plum {
  background-color:  #452E3C;
}

.row {
  --bs-gutter-x: 0 !important;
}

.image-container {
  overflow: hidden;
  object-fit: cover;
}

.popular {
  border: #ffffff solid 1px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffff00;
}

.popular:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px #292735;
}

.hero,.nav-bar {
  transition: background-color 1s ease;
}

.awards {
  background-color: #e7e7e7;
  margin: 0 !important;
}


