body {
  font-family: 'Rubik', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.nav-img {
  height: 30px;
}

.search-form {
  height: 100% !important;
}

.nav-link {
  display: flex !important;
  align-items: center;
}

a {
  text-decoration: none !important;
}

.dropdown-toggle {
  color: inherit !important;
}

.dropdown-menu {
  background-color: #afafaf !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: inherit !important
}

.custom-card img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.logo-text-container {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

.logo {
  max-width: 200px; /* Adjust the size as needed */
}

.chat-popup-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-container {
  max-height: 60vh; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.bg-purple {
  background: linear-gradient(to right, #6C3483, #AB85A1, #6C3483);
}

.bg-blue {
  background: linear-gradient(to right, #2C2C54, #5373A1, #2C2C54);
}

.bg-red {
  background: linear-gradient(to right, #943126, #C74C49, #943126);
}

.bg-grey {
  background: linear-gradient(to right, #333333, #999999, #333333);
}

.bg-green {
  background: linear-gradient(to right, #003610, #116D32, #003610);
}

.row {
  --bs-gutter-x: 0 !important;
}

.image-container {
  overflow: hidden;
  object-fit: cover;
}

.popular {
  border: #ffffff solid 1px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffff00;
}

.popular:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px #292735;
}

.hero,
.nav-bar {
  transition: background-color 0.5s ease;
}

.awards,
.footer {
  background-color: #e7e7e7;
}


.p-carousel-indicators {
  display: none !important;
}


.p-carousel-prev,
.p-carousel-next {
  border: black solid 2px !important;
}

.card-container {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.card-container:hover {
  opacity: 1;
}

.app-feat {
  background-color: #f1fdf7;
}

.feature-list {
  list-style-type: none;
}

.p-breadcrumb {
  border: none !important;
  padding-left: 0 !important;
}

.options-tab.active {
  color: #22c55e !important;
  border-color: #22c55e !important;
}

.options-tab {
  color: black !important;
}

.mx-2.active {
  border-bottom-color: green;
}

.image-container {
  max-width: 100%; /* Ensure the image container doesn't exceed its parent's width */
  overflow: hidden; /* Hide any overflowing content */
}

.p-galleria-thumbnail-container {
  background-color: rgb(0 0 0 / 0%) !important;
}

.p-galleria-thumbnail-prev, .p-galleria-thumbnail-next {
  background-color: black !important;
}

.chat-item {
  cursor: pointer;
  border-radius: 5px;
}

.chat-item:hover {
  background-color: rgb(241, 241, 241);
}

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  font-size: 20px;
  font-weight: bold;
}

/* Chat bubble styles */
.message-container {
  display: flex;
  flex-direction: column;
}

.message-bubble {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 20px;
  max-width: 70%;
}

.message-bubble.left {
  background-color: #f2f2f2;
  align-self: flex-start;
}

.message-bubble.right {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.right {
  align-self: flex-end;
  margin-bottom: 2px;
}

.timestamp {
  font-size: x-small;
}

@media only screen and (max-width: 992px) {
  .left-login {
    display: none;
  }
}